html,body {
    background-color:rgb(223, 219, 219);
    font-size:100%;
    overflow: hidden;
}
button {
    outline:none;
}
#header {
    height:11%;
    width:100%;
    position: absolute;
    top:0px;
    left:5%;
    box-shadow: 0px 3px 1px rgb(206, 201, 201);
   background-color:white;
   /* transform: translate(-4.8%,0); */
}
.hamburger {   
        width: 8%;
        height: 15%;
        background-color:grey;
        margin: 1% 0;
    
}
/*meta_title*/
#h_container {
    height:70%;
    width:40%;
    position: absolute;
   /*background-color: white;*/ 
    top:15%;
    left:1%;
}
#title {
    position: absolute;
    left:15%;
    top:-10%;
    font-family: "Ariel ,Times New roman";
    font-size:3rem;
    font-family:"Raleway";
}
/*header end sidenav begin*/
#sidenav {
    height: 100%;
    width:5%;
    position:fixed;
    top:0%;
    left:0%;
    /* transform: translate3d(-98%,0,0); */
    background-color:#2F313D;
}

/*Le icons magnifique*/
/*ignore the functionality for now*/
#home {
  font-size:2rem;
  position:absolute;
  top:3%;
  left:20%;
}
#history {
    font-size:2rem;
    position:absolute;
    top:12%;
    left:20%;
  }
  #graph {
    font-size:2rem;
    position:absolute;
    top:20%;
    left:20%;
  }

  #setting {
    font-size:2rem;
    position:absolute;
    top:90%;
    left:20%; 
  }     
/*side-boxs profile payment part etc.*/
#profile {
    height: 20%;
    width:20%;
    background-color: white;
    position: absolute;
    top:15%;
    left:75%;
    font-family:"Raleway";
    font-size:0.7rem;
}
#profile h1 {
    position:absolute;
    left:40%;
    font-size:1.5rem;
   
}
#profile img {
    position:absolute;
    top:25%;
    left:3%;
    height:40%;
    width:25%;
    border-radius: 50%;
}
#profile p {
    position:absolute;
    top:30%;
    left:42%;
   font-size:1rem;
}
#crt_user {
    background-color: white;
    position: absolute;
    height:23%;
    width:20%;
    top:36%;
    left:75%;
        font-family:"Raleway";
}
#crt_user h1 {
  position:absolute;
  left:4%;
  font-size:1.2rem;
}
#crt_user p {
    position:absolute;
    top:20%;
    left:4%;
    font-size:0.9rem;
}
/*the bottom part of the current user tab(crt_user) is input */
#input {
    position: absolute;
    top:80%;
    left:4%;
    height:20%;
    width:100%;
}
#crt_user input {
    position: absolute;
    top:15%;
    left:17%;
}
#crt_user i {
    position: absolute;
    left:85%;
}
#crt_user i:hover {
    color:green;
}
#payment {
    background-color: white;
    position: absolute;
    height:10%;
    width:20%;
    top:85%;
    left:75%;
    text-align: center;
    position: absolute;
        font-family:"Raleway";
}
#payment:hover {
    background-color:rgb(16, 16, 40);
    color:White;
}
/*bill amount*/
#tags {
    position:absolute;
    top:52%;
    left:16%;
    width:40%;
    height:30%; 
    font-size:2.5rem;
    font-family:"Open Sans";
    /* background-color:red; */
}
/*end-sidebox*/
/*menu main */
#menu {
    height:84%;
    width:65%;
    position:absolute;
    top:15%;
    left:7%;
    background-color: 	#1C1C28;
    font-family:"Architects Daughter";
    color:white;
     /* transform: translate(-5%,-2%);   */
  /*  background-image: url("bg_green.jpg");
    background-repeat: no-repeat;
    background-size:cover; */
}
#menu h1 {
    position:absolute;
    top:2%;
    left:75%;
    font-size:2.8rem;  
}
#menu h3 {
    position:absolute;
    top:1%;
    left:75%;
    font-size:1rem;  
}
#breakfast {
   position:absolute;
   top:30%;
   left:4%;
   /*background-color:green;*/
   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
   height:60%;
   width:30%;
}
.menu_card_title {
    position: absolute;
    left:2%;
    font-size:2rem;
    font-weight:bold; 
}
#lunch {
    position:absolute;
    top:30%;
    left:35.5%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    height:60%;
    width:30%;
 }
 #snacks {
    position:absolute;
    top:30%;
    left:67%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    height:60%;
    width:30%;
 }
.header_table {
    height:11%;
    width:11%;
    font-size:2rem;
    position:absolute;
}
/*the line below the headers*/
.line {
    height:5%;
    width:90%;
    background-color:white;
    position: absolute;
    color:white;
}
#direct_pay {
    position:absolute;
    top: 60%;
    left:75%;
    height:23%;
    width:20%;
    background-color:white;
        font-family:"Raleway";
}
#direct_pay h4 {
 position:absolute;
 left:3%;
 top:-10%;
 font-size:1.3rem;
}
#c_form {
    position:absolute;
    top:30%;
    left:3%;
    font-size:1rem;
    width:90%;
}
#first {
 position: absolute;
 top:20%;
 left:60%;
}

#c_form i {
   position: absolute;
   top:40%;
   left:70%; 
}
#c_form p {
    position:absolute;
    top:80%;
    left: -60%;
    width:90%;
}
.menu_item {
 position: absolute;
 height:11%;
 width:15%;  
 font-family: "Dancing Script";
 font-size:1.5rem;
 text-align: left;
}

.menu_item button {
    background-color:  #1C1C28 ; 
    border: none;
    height:40%;
    width:140%;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family:"Dancing Script";
}
.menu_item button:hover {
   color: #27FF00 !important;
}

#rupee{
    font-size:2.5rem;
    position:absolute;
    top:100%;
    left:2%;
}
  #clear {
    height:10%;
    width:30%;
    position:absolute;
    top:87%;
    border: none;
    background-color:rgb(255, 255, 255);
    text-align:left;
    text-decoration: none;
    left:5%

  }

  .clicked {
      border:2px solid blue;
      background-color:  #1C1C28 ; 
      border: none;
      height:40%;
      width:140%;
      color: white;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      font-family:"Dancing Script";
  }
 
  #c_amt {
    height:10%;
    width:40%;
    position:absolute;
    top:87%;
    border: none;
    background-color:rgb(255, 255, 255);
    text-align:left;
    text-decoration: none;
    left:25%;
  }