@font-face {
  font-family: 'Montserrat-Regular';
  src:url(../fonts/Montserrat-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Oxygen-Regular';
  src:url(../fonts/Oxygen-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans', sans-serif;
  src:url(../fonts/OpenSans-Regular.ttf) format('truetype');
}
html,body{
  background:#fff;
  font-size: 100%;
  font-family: 'Oxygen-Regular';
}
@font-face {
    font-family: penultimate;
    src: url(fonts/penultimate.ttf);
}
@-webkit-keyframes boxEntrance{
  from{
    border-radius: 0%;
    box-shadow: 0px;
  }
  to{
    border-radius: 3%;
    box-shadow: 10px 10px 5px #888888;
  }
}
@-moz-keyframes boxEntrance{
  from{
    border-radius: 0%;
    box-shadow: 0px;
  }
  to{
    border-radius: 3%;
    box-shadow: 10px 10px 5px #888888;
  }
}
@keyframes boxEntrance{
  from{
    border-radius: 0%;
    box-shadow: 0px;
  }
  to{
    border-radius: 3%;
    box-shadow: 10px 10px 5px #888888;
  }
}
@-webkit-keyframes buttonExpan{
  from{
    padding: 10px;
  }
  to{
    padding: 20px;
  }
}
@-moz-keyframes buttonExpan{
  from{
    padding: 10px;
  }
  to{
    padding: 20px;
  }
}
@keyframes buttonExpan{
  from{
    padding: 10px;
  }
  to{
    padding: 20px;
  }
}
@-webkit-keyframes inputHighlighter {
  from{
    background: #5264AE;
  }
    to{
      width: 0;
      background:transparent;
    }
}
@-moz-keyframes inputHighlighter {
  from{
    background: #5264AE;
  }
    to{
      width: 0;
      background:transparent;
    }
}
@keyframes inputHighlighter {
  from{
    background: #5264AE;
  }
    to{
      width: 0;
      background:transparent;
    }
}
#login{
  width: 100%;
	height: 100%;
	background: url("images/greybg.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
	font-family:'penultimate';
}
#loginWrapper{
	height: 80%;
	position: fixed;
	top: 10%;
	width: 20%;
	left: 40%;
	background-color: white;
	-webkit-transition-duration: 0.6s;
  -moz-transition-duration: 0.6s;
	-webkit-animation: boxEntrance 0.6s;
  -moz-animation: boxEntrance 0.6s;
  animation: boxEntrance 0.6s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
	-moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
#greeter{
	color: black;
	text-align: center;
}
#adminInput{
 	font-size: 18px;
 	padding: 10px 10px 10px 5px;
 	display: block;
 	width: 94%;
 	border: none;
 	border-bottom: 1px solid #757575;
}
#adminInput:focus{
	outline: none;
}
label{
	color: #999;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
#adminInput:focus ~ label, #adminInput:valid ~ label{
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}
.bar{
	position: relative;
	display: block;
	width: 100%;
}
.bar:before, .bar:after{
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
.bar:before {
  left: 50%;
}
.bar:after {
  right: 50%;
}
#adminInput:focus ~ .bar:before, #adminInput:focus ~ .bar:after {
  width: 50%;
}
.highlight {
  position: absolute;
  height: 60%;
  width: 100%;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
#adminInput:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
#inputField{
	top: 25%;
	position: relative;
	margin-bottom: 45px;
}
.button{
  position: relative;
  background-color: #3D89DA;
  border: none;
  font-size: 15px;
  color: #FFFFFF;
  -webkit-animation: buttonExpan 0.3s;
  -moz-animation: buttonExpan 0.3s;
   animation: buttonExpan 0.3s;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  animation-timing-function: ease;
  width: 100px;
  text-align: center;
  -webkit-transition-duration: all 0.6s;
  -moz-transition-duration: all 0.6s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  left: 34%;
  top: 10px;
  border-radius: 5%;
}

.button:after{
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 200%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
h1{
  margin:0;
  font-family: 'Montserrat-Regular';
}
/*----*/
. layouts-login{
  float:right;
  margin-top: 8px;
}
/*--header--*/
. layouts-main-content {
  padding:80px 0;
}
. layouts-login a{
  display: block;
  letter-spacing: 2px;
  font-size: 13px;
  color: #fff905;
  text-decoration: none;
  margin: 0 0.3em;
}
/*--//header--*/
/*--- slider-css --*/
/*--content--*/
/*----*/
/*--services--*/

/* Effect 8 */
/*--phone--*/
/*--//phone--*/
/*--project--*/
/*--top-city--*/
/*---------------*/
/***** Layla *****/
/*---------------*/
/* Common style */
/*--//--*/
/*---- Navigation ---*/
/* formIn, #tab2 Form styles */
#formIn fieldset input:required:valid, #tab2 fieldset input:required:valid{
  background-color: #fff;
  background-position: 379px -61px;
}

/* Enhanced error styling */

/*--phone--*/
::-webkit-input-placeholder {
  color: #000;
}

:-moz-placeholder {
  color: #000;
}

::-moz-placeholder {
  color: #000;
}

:-ms-input-placeholder {
  color: #000;
}


/*-- icons --*/
/*-- //icons --*/
/*-- //buttons --*/
/*-- //buttons --*/
/*-- //to-top --*/
/*-- //to-top --*/



/*--//responsive--*/
@media(max-width:1200px){
  . _agile_support_right h3 {
    font-size: 33px;
    letter-spacing: 1px;
  }
}
@media(max-width:1080px){
  . _agile_support_right h3 {
    font-size: 30px;
    letter-spacing: 0px;
  }
  . l-support {
    padding: 4em 0 0;
  }
  h3. -head {
    font-size: 33px;
  }
  . layouts-content {
    padding: 50px 0;
  }
  ul. ls-nav-bottom {
    margin-top: 28px;
  }
}
@media(max-width:1050px){
  h3. -head {
    font-size: 30px;
    margin: 0 0 30px 0;
  }
}
@media(max-width:1024px){
  . layouts-breadcrumbs {
    padding: 10px 0;
  }
}
@media(max-width:991px){
  . layouts-login a {
    font-size: 12px;
  }
  .social-icons. -agile-icons {
    margin-top: 0em;
  }
  . _agile_support_left img {
    width: 35%;
    margin: 0 auto;
  }
  . _agile_support_right {
    margin: 3em 0 3em;
  }
  . _agile_support_right p {
    margin: 1em 0 2em;
  }
  ul. ls-plan li a {
    padding: 10px 5px;
  }
}
@media(max-width:900px){
  h3. -head {
    font-size: 28px;
    margin: 0 0 25px 0;
  }
}
@media(max-width:768px){
  . _agile_support_right p {
    line-height: 28px;
    font-size: 15.5px;
  }
  . _agile_support_right h3 {
    font-size: 28px;
  }
}
@media(max-width:736px){
  h3. -head {
    font-size: 26px;
    margin: 0px 0 20px 0;
  }
}
@media(max-width:667px){
  . _agile_support_right h3 {
    font-size: 26px;
  }
  . _agile_support_right p {
    line-height: 26px;
    font-size: 15px;
  }
}
@media(max-width:568px){
  . _agile_support_right h5 {
    font-size: 1.2em;
  }
  . ls-supportform select {
    width: 50%;
  }
}
@media(max-width:480px){
  . _agile_support_right h3 {
    font-size: 24px;
  }
  . layouts-login a {
    font-size: 11.5px;
  }
  . ls-supportform select {
    width: 60%;
  }
  h3. -head {
    font-size: 25px;
  }
  . layouts-content {
    padding: 40px 0;
  }
}
@media(max-width:414px){
  . _agile_support_right h3 {
    font-size: 22px;
    line-height:28px;
  }
  . _agile_support_left img {
    width: 45%;
  }
}
@media(max-width:384px){
  . _agile_support_left img {
    width: 55%;
  }
  . _agile_support_right h5 {
    margin-bottom: 1em;
  }
  . ls-supportform {
    padding: 0;
  }
  img. ls-mobile {
    width: 25%;
  }
}
@media(max-width:375px){
  . _agile_support_left img {
    width: 65%;
  }
  . layouts-login a {
    font-size: 12px;
    letter-spacing: 0.5px;
  }
  . layouts-login {
    margin-top: 5px;
  }
}
@media(max-width:320px){
  . layouts-login {
    margin-top: 10px;
    float: none;
    text-align: center;
  }
  . layouts-login a {
    letter-spacing: 1px;
  }
  img. ls-mobile {
    width: 30%;
  }
  . _agile_support_left img {
    width: 70%;
  }
  h3. -head {
    font-size: 23px;
  }
}
  /*--responsive--*/
